body {
    font-family: 'Roboto', sans-serif;
    margin: 0;

}
/*----header----------*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav img {
    height: 80px;
}

.link a {
    text-decoration: none;
    color: black;
    margin: 0 10px 0 20px;
    font-size: 1.2rem
}

/*-------main--------------*/
/*-------top--------------*/

.banner img{
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.entete {
    position: relative;
}

.banner-content {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-content img {
    height: 70px
}

.banner-content h1 {
    color: white;
    font-weight: 400;
    font-size: 2.2rem;
}

/*-------main--------------*/
/*-------bottom--------------*/

.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titre {
    max-width: 65% ;
    font-size: 1.6rem;
    font-weight: 100;
    text-align: center;
    margin: 30px 0;
}

.catégorie {
    display: flex;
    max-width: 65%;
}

.picto {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.picto p {
    width: 80%;
    margin: 0;
}

h2 {
    font-weight: 400;
    margin: 10px 0;
}

.temoin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

blockquote {
    max-width: 50%;
}

blockquote h3 {
    text-align: center;
    font-weight: 100;
    font-size: 1.4rem;
    margin-bottom: 510x;
}

blockquote p {
    text-align: center;
    font-weight: 100;
    font-size: 1.1rem;
    margin-top: 0;
}

/*-------footer-----------*/

footer {
    background-color: blueviolet;
    color: white;
}

.name {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.social i {
    font-size: 1.5rem;
}

.botmenu {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

